<% if current_user.otp_required_for_login? %>
  <div><%= link_to "Desabilitar", two_factor_path, method: :delete, remote: true, class: "btn btn-outline-danger" %></div>

  <div class="row">
    <div class="col-8">
      <ol class="mt-5">
        <li>
          Instalar Google Authenticator:
          <%= link_to "Android", "https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&hl=en", target: :blank %>
          or
          <%= link_to "iOS", "https://itunes.apple.com/us/app/google-authenticator/id388497605?mt=8", target: :blank %>
        </li>
        <li>No aplicativo, selecione "Configurar conta" ou o sinal de mais (+)</li>
        <li>Escolha "Ler código de barras"</li>
      </ol>
    </div>

    <div class="col-4 text-center">
      <%= current_user.otp_qr_code.html_safe %>
    </div>
  </div>

  <% if @codes %>
    <hr>

    <p><strong class="badge badge-danger">Importante!</strong> Anote esses códigos de backup em um local seguro. Eles podem ser usados uma vez para acessar sua conta se o seu dispositivo 2FA não estiver disponível. Eles nunca serão exibidos novamente para segurança.</p>

    <% @codes.each do |code| %>
      <div><strong><%= code %></strong></div>
    <% end %>
  <% end %>

<% else %>
  <p>Ao fazer o login, você deverá inserir um código de uso único em um de seus dispositivos.</p>
  <div><%= link_to "Habilitar", two_factor_path, method: :post, remote: true, class: "btn btn-outline-success" %></div>

<% end %>
